@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');
* 
{
    background-color: black;
    color: white;

}

*{
    font-family: 'Hind', sans-serif;
}

.bannerBgImage{
    height: 100vh;
    background: url("https://c0.wallpaperflare.com/preview/138/244/938/device-mockup-gradient-laptop-mockup-laptop.jpg");
    background-size: cover;
    position: relative;
}

.bannerText{
    text-align: right;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.bannerTitle{
    font-size: 4rem;
}
.bannerDesc{
    font-size: 2rem;
}

.text-justify{
    text-align: justify;
}
.card {
    cursor: pointer;
}

.card:hover {
    background-color: white;
    border: 5px solid red;
    color: black;
}

.BIcon {
    width: 100%;
    text-align: center;
    font-size: 40px;
}

.img-fluid:hover {
    border: 2px solid #9acd32;
}

.card-img-top {
    height:50vx;
}
.size
{
    height: 400px;
    width: 400px;
}
#container
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
}
